/* Header styles */
.header {
  background-color: var(--background-color);
  padding: 1.2rem 0;
}

/* Flexbox for aligning logo and navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

/* Logo */
.logo-container {
  display: flex;
  padding-left: 4rem;
}

.logo {
  height: 50px;
}

/* Navbar Links */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: right;
  margin-right: 4rem;
}

.nav-links li {
  margin: 0.5rem 1rem;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-links li:hover {
  transform: translateY(-2px);
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.nav-links li:hover a {
  color: var(--primary-color);
}

.navContact {
  padding-right: 2rem;
}

.mobile-header {
  display: none;
}

/* Request Quote Button */
.request-quote-btn {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.request-quote-btn:hover {
  background-color: var(--white);
  color: var(--text-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Mobile Navigation */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--white);
}

.social-icons {
  display: none;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    background-color: var(--primary-color);
    padding: 0 0.3rem;
    border-radius: 0.2rem;
  }

  .mobile-header {
    background-color: var(--primary-color);
    color: white;
    padding: 3rem 1rem;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    display: block;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.2rem;
    right: 2rem;
    background-color: var(--background-color);
    text-align: center;
    margin: 0rem 0;
    z-index: 10;

    /* Transition Effect */
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
  }

  /* Active state with animation */
  .nav-links.mobile-active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

  .nav-links li {
    margin: 1rem 7rem;
  }

  .navContact {
    padding-right: 0;
  }

  .request-quote-btn {
    margin: 1rem auto;
    padding: 0.7rem 2rem;
  }

  /* Social Media Icons */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0.3rem 0 1.5rem;
  }

  .social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
  }

  .social-icons a:hover {
    color: var(--primary-color);
  }
}
