.footer {
  background: url("/src/assets/footer.png") no-repeat center center/cover;
  color: white;
  padding: 3rem 0;
}

.footer-container {
  display: flex;
  gap: 6rem;
  max-width: 90%;
  margin: auto;
  padding: 0 1.7rem;
}

.footer-section {
  flex: 1;
  text-align: left;
  margin-right: 2rem;
  letter-spacing: 0.09rem;
}

.footer-section-quick {
  text-align: center;
}

.footer-section-businesshour {
  text-align: center;
}

.footer-section-business {
  line-height: 1.5;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.ourfocus-paragraph,
.footer-section p {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.ourfocus-paragraph {
  line-height: 1.6;
}

.ourfocus-paragraph {
  margin-bottom: 2.4rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  line-height: 2;
  transition: color 0.3s ease-in-out;
}

.footer-section ul li a:hover {
  color: var(--secondary-color);
}

/* Social Icons */
.footer-social-icons {
  display: flex;
  gap: 0.8rem;
}

.icons-padding {
  padding: 0.2rem 0 0 0;
  display: flex;
  gap: 0.8rem;
}

.icon {
  width: 1.3rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

.info-footer:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 1.5rem;
  }

  .footer-section-quick {
    text-align: left;
  }
  .footer-container {
    display: flex;
    gap: 2rem;
    max-width: 90%;
    margin: auto;
    padding: 0 1.7rem;
  }
}
